<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- evitar ataques de Cross Site Scripting (injeção de dados)-->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>CONEST - Controle de estoque</title>

    <!-- bootsrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">

    <!-- css personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">

</head>

<body>
    <div class="container">
        <h1>CONEST</h1>
        <div class="botaoimg">
            <button onclick="clientes()" class="btn btn-sm" ><img src="../public/img/cliente.png"></button>
            <button onclick="fornecedores()" class="btn"><img src="../public/img/fornecedor.png"></button>
            <button onclick="produtos()" class="btn"><img src="../public/img/produtos.png"></button>
        </div>
    </div>

    <!-- Rodapé -->
    <footer>
        <p id="dataAtual"></p>
        <img src="../public/img/dboff.png" alt="">
    </footer>

    <script src="../public/js/bootstrap.min.js"></script>

    <script src="renderer.js"></script>
</body>

</html>