<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONEST - Controle de estoque</title>

    <!-- bootsrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">

    <!-- css personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">

</head>

<body>
    <div class="container Container">
        <h1>CONEST</h1>

        <div class="imagens">
            <button onclick="clientes()" class="btn"><img src="../public/img/cliente.png"></button>
            <button onclick="fornecedores()" class="btn"><img src="../public/img/fornecedor.png"></button>
            <button onclick="produtos()" class="btn"><img src="../public/img/produtos.png"></button>
        </div>
    </div>

    <!-- Rodapé -->
    <footer>
        <p id="dataAtual"></p>
    </footer>

    <script src="../public/js/bootstrap.min.js"></script>

    <script src="renderer.js"></script>
</body>

</html>