<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONEST - Controle de estoque</title>

     <!-- bootsrap -->
     <link rel="stylesheet" href="../public/css/bootstrap.min.css">

     <!-- css personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">

</head>

<body>
    <div class="container">
        <h1>CONEST</h1>
    </div>

    <!-- Rodapé -->
    <footer>
        <p id="dataAtual"></p>
    </footer>

    <script src="../public/js/bootstrap.min.js"></script>

    <script src="renderer.js"></script>
</body>

</html>