<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- evitar ataques de Cross Site Scripting (injeção de dados)-->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">

    <title>Sobre</title>
</head>

<body>
    <h1>CONEST - Controle de estoque</h1>
    <h2>Autor: Miquéias Rodrigues Barreto</h2>
    <H2>Versão 1.0</H2>
    <h2>Sob a licença MIT</h2>
</body>

</html>